@media (max-width: 1199px){
	html{
		font-size: 8px;
	}
}

@media (max-width: 991px){
	html{
		font-size: 7px;
	}
	.visible-lg{
		display: none;
	}
	.m-menu-link{
		display: block;
	}
	.get-started-btn{
		margin: 0;
	}
	.price-tags{
		flex-direction: column;
	}
	.price-tag{
		width: 90%;
		margin: 20px auto;
	}
	.footer-wrap{
		justify-content: center;
	}
	.footer-menu{
		display: none;
	}
	.legal{
		flex-direction: column;
		padding-bottom: 50px;
	}
	.social-links {
		padding-top: 30px;
	}
	.social-links a{
		font-size: 30px;
	}
}